@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__firstArticle {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__mainImage {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-image: url("/image/header-photovoltaics-main.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.header__secoundImage {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 15px solid green;
  background-image: url("/image/header-photovoltaics-secound.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.header__topCircle {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 40px solid green;
}

.header__bottomCircle {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
}

.header__secoundArticle {
  width: 100%;
  padding: 5rem 2rem;
}

.header__paragraphTop {
  font-size: 2rem;
  text-transform: uppercase;
}

.header__heading {
  font-size: 2.6rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.header__paragraph {
  font-size: 1.6rem;
  line-height: 1.6;
}

.header__button {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-bottom: 5px solid green;
  background: none;
  padding-bottom: 0.5rem;
  margin: 2rem 0rem;
}

@media screen and (min-width: 765px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__firstArticle {
    width: 50%;
  }
  .header__mainImage {
    width: 360px;
    height: 360px;
  }
  .header__secoundImage {
    width: 230px;
    height: 230px;
  }
  .header__topCircle {
    top: 25%;
  }
  .header__bottomCircle {
    width: 110px;
    height: 110px;
  }
  .header__secoundArticle {
    width: 50%;
  }
  .header__heading {
    font-size: 4.8rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 992px) {
  .header__mainImage {
    width: 500px;
    height: 500px;
  }
  .header__secoundImage {
    top: 60%;
    left: 50%;
    width: 270px;
    height: 270px;
  }
  .header__topCircle {
    top: 10%;
    left: 50%;
  }
  .header__bottomCircle {
    width: 130px;
    height: 130px;
  }
  .header__secoundArticle {
    width: 50%;
    padding: 5rem 2rem;
  }
  .header__heading {
    width: 50%;
  }
  .header__paragraph {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */