@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.paragraph {
  font-size: 1.8rem;
  line-height: 1.8;
}

.headingOne {
  font-size: 3.2rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingTwo {
  font-size: 2.8rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingThree {
  font-size: 2.7rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingFour {
  font-size: 2.2rem;
  padding: 2rem 0rem;
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headingOne {
    font-size: 4rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingTwo {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingThree {
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingFour {
    font-size: 2.3rem;
    padding: 2rem 0rem;
  }
}

@media screen and (min-width: 992px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headingOne {
    font-size: 4.6rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingTwo {
    font-size: 3.4rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingThree {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingFour {
    font-size: 2.5rem;
    padding: 2rem 0rem;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__firstArticle {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__mainImage {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-image: url("/image/header-photovoltaics-main.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.header__secoundImage {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 15px solid green;
  background-image: url("/image/header-photovoltaics-secound.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.header__topCircle {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 40px solid green;
}

.header__bottomCircle {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
}

.header__secoundArticle {
  width: 100%;
  padding: 5rem 2rem;
}

.header__paragraphTop {
  font-size: 2rem;
  text-transform: uppercase;
}

.greenSide {
  padding: 5rem 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greenSide__image {
  margin-top: 5rem;
  max-width: 100vw;
}

.greenSide__spanGreen {
  color: #008000;
}

.informationIcon {
  padding: 5rem 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informationIcon__firstArticle, .informationIcon__thirdArticle {
  padding: 0rem 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informationIcon__secoundArticle {
  margin: 5rem 0rem;
}

.informationIcon__box {
  margin: 3rem 0rem;
}

.informationIcon__headingFour {
  font-weight: normal;
}

.informationIcon__iconBig {
  width: 100%;
  padding: 0rem 2rem;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.8;
}

.headingOne {
  font-size: 3.2rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingTwo {
  font-size: 2.8rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingThree {
  font-size: 2.7rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingFour {
  font-size: 2.2rem;
  padding: 2rem 0rem;
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headingOne {
    font-size: 4rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingTwo {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingThree {
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingFour {
    font-size: 2.3rem;
    padding: 2rem 0rem;
  }
}

@media screen and (min-width: 992px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headingOne {
    font-size: 4.6rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingTwo {
    font-size: 3.4rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingThree {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingFour {
    font-size: 2.5rem;
    padding: 2rem 0rem;
  }
}

@media screen and (min-width: 765px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__firstArticle {
    width: 50%;
  }
  .header__mainImage {
    width: 360px;
    height: 360px;
  }
  .header__secoundImage {
    width: 230px;
    height: 230px;
  }
  .header__topCircle {
    top: 25%;
  }
  .header__bottomCircle {
    width: 110px;
    height: 110px;
  }
  .header__secoundArticle {
    width: 50%;
  }
  .header__buttonNext {
    top: 76% !important;
    left: 90% !important;
  }
  .header__buttonPrev {
    top: 76% !important;
    left: 80% !important;
  }
  .aboutUs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutUs__firstArticle {
    position: relative;
    width: 50%;
    padding: 0rem 2rem;
  }
  .aboutUs__circle {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 50px solid green;
    z-index: -1;
  }
  .aboutUs__secoundArticle {
    width: 50%;
    padding: 0rem 2rem;
  }
  .informationIcon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .informationIcon__firstArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .informationIcon__secoundArticle {
    width: 60%;
  }
  .informationIcon__thirdArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .informationIcon__box {
    text-align: center;
  }
  .information {
    position: relative;
    padding: 5rem 10rem;
  }
  .gallery {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    -ms-grid-columns: (auto)[10];
        grid-template-columns: repeat(10, auto);
    grid-template-row: repeat(10, auto);
    padding: 0rem 2rem;
  }
  .gallery__imageBox--first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .gallery__imageBox--secound {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5 / span 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .gallery__imageBox--third {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .gallery__imageBox--fourth {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7 / span 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .gallery__imageBox--fifth {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .gallery__imageBox--sixth {
    display: none;
  }
  .gallery__imageBox--seventh {
    display: none;
  }
  .greenSide {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 2rem;
  }
  .greenSide__articleSecound, .greenSide__articleFirst {
    width: 50%;
  }
  .greenSide__articleFirst {
    margin-right: 3rem;
  }
  .greenSide__image {
    margin-top: 5rem;
    max-width: 100%;
  }
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.8;
}

.headingOne {
  font-size: 3.2rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingTwo {
  font-size: 2.8rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingThree {
  font-size: 2.7rem;
  font-weight: 500;
  padding: 2rem 0rem;
}

.headingFour {
  font-size: 2.2rem;
  padding: 2rem 0rem;
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headingOne {
    font-size: 4rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingTwo {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingThree {
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingFour {
    font-size: 2.3rem;
    padding: 2rem 0rem;
  }
}

@media screen and (min-width: 992px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headingOne {
    font-size: 4.6rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingTwo {
    font-size: 3.4rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingThree {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 2rem 0rem;
  }
  .headingFour {
    font-size: 2.5rem;
    padding: 2rem 0rem;
  }
}

@media screen and (min-width: 992px) {
  .header__mainImage {
    width: 500px;
    height: 500px;
  }
  .header__secoundImage {
    top: 60%;
    left: 50%;
    width: 270px;
    height: 270px;
  }
  .header__topCircle {
    top: 10%;
    left: 50%;
  }
  .header__bottomCircle {
    width: 130px;
    height: 130px;
  }
  .header__secoundArticle {
    width: 50%;
    padding: 5rem 2rem;
  }
  .header__heading {
    width: 50%;
  }
  .header__paragraph {
    width: 80%;
  }
  .header__buttonNext {
    top: 76% !important;
    left: 80% !important;
  }
  .header__buttonPrev {
    top: 76% !important;
    left: 75% !important;
  }
  .aboutUs__firstArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutUs__image {
    width: 70%;
  }
  .aboutUs__circle {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    height: 400px;
    border: 80px solid green;
  }
  .aboutUs__headingThree {
    width: 90%;
  }
  .aboutUs__paragraph {
    width: 90%;
  }
  .informationIcon {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .informationIcon__firstArticle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .informationIcon__secoundArticle {
    width: 110%;
  }
  .informationIcon__thirdArticle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .informationIcon__box--right {
    text-align: right;
  }
  .informationIcon__box--left {
    text-align: left;
  }
  .gallery {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    padding: 0rem 2rem;
  }
  .gallery__imageBox--first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
  .gallery__imageBox--secound {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
  .gallery__imageBox--third {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
  .gallery__imageBox--fourth {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4 / span 3;
  }
  .gallery__imageBox--fifth {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
  }
  .gallery__imageBox--sixth {
    display: block;
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / span 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4 / span 3;
  }
  .gallery__imageBox--seventh {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=mainFotowoltaika.css.map */