@media screen and ( min-width: 992px )
    .header
        &__mainImage
            width: 500px
            height: 500px

        &__secoundImage
            top: 60%
            left: 50%
            width: 270px
            height: 270px
            
        &__topCircle
            top: 10%
            left: 50%

        &__bottomCircle
            width: 130px
            height: 130px

        &__secoundArticle
            width: 50%
            padding: 5rem 2rem

        &__heading
            width: 50%

        &__paragraph
            width: 80%
            
       
    