@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

@import "./_fontSize"
@import "./_colors"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'Roboto', sans-serif
    scroll-behavior: smooth

.wrapper 
    max-width: 100vw
    margin: 0 auto
    overflow: hidden

.header 
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    position: relative
    max-width: 1300px
    margin: 0 auto
    
    &__firstArticle
        position: relative
        width: 100%
        min-height: 100vh
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        align-content: center
        
    &__mainImage
        width: 340px
        height: 340px
        border-radius: 50%
        background-image: url("/image/header-photovoltaics-main.png")
        background-size: cover
        background-position: center
        z-index: 1

    &__secoundImage
        position: absolute
        top: 60%
        left: 40%
        width: 210px
        height: 210px
        border-radius: 50%
        border: 15px solid $greenTwo
        background-image: url("/image/header-photovoltaics-secound.jpg")
        background-size: cover
        background-position: center
        box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4)
        z-index: 2

    &__topCircle
        position: absolute
        width: 250px
        height: 250px
        border-radius: 50%
        border: 40px solid $greenTwo
        top: 15%
        left: 30%

    &__bottomCircle
        position: absolute
        top: 80%
        left: 10%
        width: 100px
        height: 100px
        border-radius: 50%
        background-color: $greenTwo

    &__secoundArticle
        width: 100%
        padding: 5rem 2rem

    &__paragraphTop
        font-size: 2rem
        text-transform: uppercase
        color: gray
        letter-spacing: 1.5px

    &__headingOne
        position: relative

    &__linkBorder
        position: absolute
        top: 80%
        left: 0
        width: 78%
        height: 3px
        background: linear-gradient(90deg, $greenOne, transparent)

.greenSide
    position: relative
    padding: 5rem 2rem
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    position: relative
    max-width: 1300px
    margin: 0 auto

    &__image
        margin-top: 5rem
        max-width: 100vw

    &__spanGreen
        color: $greenThree

.informationIcon
    padding: 5rem 2rem
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    position: relative
    max-width: 1300px
    margin: 0 auto

    &__firstArticle,
    &__thirdArticle
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center

    &__secoundArticle
        margin: 0rem 0rem 5rem

    &__box
        margin: 3rem 0rem

    &__headingFour
        font-weight: normal

    &__iconBig
        width: 100%
        padding: 0rem 2rem

.calculator
    padding: 5rem 2rem
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    position: relative
    max-width: 1300px
    margin: 0 auto

    &__firstArticle
        display: flex
        flex-wrap: wrap

    &__headingThree,
    &__paragraph--center,
    &__headingFour
        text-align: center

    &__input
        width: 80vw
        margin: 5rem auto

    &__paragraph--center
        margin-top: 1rem

    &__box
        display: flex
        width: 100%
        padding: 3rem 0rem

    &__image
        width: 20%

    &__text
        width: 80%
        display: flex
        flex-direction: column
        justify-content: center
        margin-left: 2rem

    &__icon
        width: 69px
        height: 69px

    &__spanGreen
        color: $greenThree
        font-weight: bold

    &__spanRed
        color: $redOne
        font-weight: bold

    &__summaryBox
        display: flex
        flex-direction: row
        padding: 3rem 0rem

    &__summaryParagraph
        margin-left: 2rem


.panels
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    padding: 5rem 2rem
    flex-wrap: wrap
    position: relative
    max-width: 1300px
    margin: 0 auto

    &__firstArticle,
    &__thirdArticle
        width: 100%

    &__thirdArticle
        margin-top: 10rem

    &__secoundArticle,
    &__fourthArticle
        width: 100%
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        margin-top: 5rem

    &__image
        width: 80%

    &__unorderList
        padding-top: 2rem
        padding-left: 2rem
        color: $greenFive
        list-style: "✔"

    &__spanBlack
        color: black
        margin-left: 1rem

.question
    display: flex
    flex-direction: column
    justify-content: center
    flex-wrap: wrap
    padding: 5rem 2rem
    position: relative
    max-width: 1300px
    margin: 0 auto

    &__heading
        text-align: center
        margin: 5rem 0rem

    &__accordion 
        width: 100%
  
    &__item 
        margin: 2rem 0

    &__itemHeader 
        display: flex
        align-items: center
        position: relative
        cursor: pointer
        margin: 1rem 0rem
        font-weight: 500

    &__itemHeader::after 
        content: "\002B"
        position: absolute
        font-size: 2rem
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        align-content: center
        right: 1rem
        width: 28px
        height: 28px
        border-radius: 50%
        background-color: $greenOne

    &__itemBody 
        max-height: 0
        overflow: hidden
        transition: max-height 0.5s ease-out

    &__itemBodyContent 
        padding: 1rem

    &__linkBorder
        position: absolute
        top: 110%
        left: 0
        width: 78%
        height: 3px
        background: linear-gradient(90deg, $greenOne, transparent)

    &__paragraphBody
        margin-top: 2rem

    &__paragraphHeader
        width: 87%


.question__itemHeader.active::after 
  content: "\2212"




  


.footer
    max-width: 100vw
    display: flex
    flex-direction: column
    justify-content: center
    padding: 5rem 2rem 
    margin-top: 5rem
    color: white
    background-color: #191A1E

    &__wrap
        max-width: 100vw
        display: flex
        flex-direction: column
        justify-content: center
        padding: 5rem 2rem 
        color: white
        background-color: #191A1E

    &__socialMedia
        display: flex
        flex-direction: row
        justify-content: center
        margin: 2rem auto

    &__contactForm
        display: flex
        flex-direction: column

    &__offer
        margin: 3rem 0rem    

    &__logo
        font-size: 3rem

    &__spanContact
        width: 35%
        display: inline-block
        font-size: 2rem
        text-transform: uppercase
        font-weight: 400

    &__paragraphContact
        font-size: 1.4rem
        font-weight: bold
        padding: 1rem 0rem
        border-bottom: 0.1rem solid rgba(223, 218, 218, 0.3)
        cursor: pointer
        transition: color 0.5s

        &:hover
            color: $greenOne

    &__socialMediaSpan
        font-size: 2rem
        padding: 1rem
        background: rgba(223, 218, 218, 0.3)
        border-radius: 50%
        width: 50px
        height: 50px
        text-align: center
        margin: 0 1rem
        cursor: pointer
        transition: background 0.5s

        &:hover
            background: $greenOne

    &__textArea
        width: 100%
        max-width: 100%
        min-height: 20vh
        font-size: 2rem
        padding: 1rem
        margin: 0.5rem 0rem
        background-color: #2b2b2e
        border: none
        color: white
        font-family: 'Poppins', sans-serif

    &__button
        width: 100%
        border: none
        background: #2b2b2e
        font-weight: 700
        color: white
        text-transform: uppercase
        padding: 1.5rem 4rem
        font-size: 1.2rem
        letter-spacing: 0.2rem
        cursor: pointer
        transition: background 0.5s

        &:hover
            background: $greenTwo

    &__input
        width: 100%
        font-size: 2rem
        padding: 1rem
        margin: 1rem 0rem
        background-color: #2b2b2e
        border: none
        color: white

    &__contactInfo
        order: 2
        margin: 5rem 0rem

    &__contactForm
        order: 3

    &__offer
        order: 1

.contactForm

    &__paragraph
        font-size: 3rem
        color: rgba(223, 218, 218, 0.3)
        line-height: 3.2rem

.offer

    &__paragraphMain
        font-size: 3rem
        color: rgba(223, 218, 218, 0.3)
        line-height: 3.2rem

    &__paragraph
        font-size: 2rem
        padding: 1.5rem 0rem
        border-bottom: 0.1rem solid rgba(223, 218, 218, 0.3)
        cursor: pointer
        transition: letter-spacing 0.5s, color 0.5s

        &:hover
            letter-spacing: 0.5rem
            color: $greenOne




@import "./_medium"
@import "./_large"